/* search */
form.search-bar-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: calc(0.5rem + 1vw);
  margin-bottom: 2vmax;
}

.search-only-chat,
.sortby-chat {
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  background-color: #dadada4d;
}

.search-only-chat {
  display: flex;
  height: 3rem;
  width: 100%;
}

.sortby-chat {
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
}

input.search-input-chat {
  width: 100%;
  border: none;
  background: transparent;
  padding-left: 1rem;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input.search-input-chat::placeholder {
  color: #bbb;
}

button.search-button-chat {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button.search-button-chat:hover {
  opacity: 1;
}

button.search-button-chat:focus,
input.search-input-chat:focus,
.sortby-chat {
  outline: none;
}

/* chat */
.chat-row {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.chat-row:hover {
  background-color: #dadada4d;
}

.chat-row img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.chat-time {
  text-align: right;
  white-space: nowrap;
}

.chat-notif {
  margin: auto;
  background-color: #ffcd61;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
}

.chat-container {
  width: 100%;
}

.chat-row .chat-user,
.chat-row .chat-message.chat-unread {
  font-weight: bold;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  /* search */
  form.search-bar-chat {
    flex-direction: row;
    height: 3rem;
  }

  .sortby-chat {
    padding-left: 1rem;
    width: min(240px, 30%);
  }
}

@media (min-width: 992px) {
}
