/* main */
.main-forgot {
  height: 100vh;
  background-image: linear-gradient(#00000066 100%, #fff 0%),
    url("../images/explore&travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vmax 5vmax;
  text-align: center;
}

.main-forgot a {
  color: #fff;
}

.fw-900 {
  font-weight: 900;
}

.transparent-button {
  background-color: transparent;
  border: 0;
  color: #fff;
}

.link-back {
  position: absolute;
  top: 10vmin;
  left: 10vmin;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.icon-previous {
  content: url("../icons/icon-previous.png");
  height: 30px;
}

.custom-size {
  height: 60px;
  border-radius: 10px;
}

.form-forgotpassword {
  width: min(100%, 450px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 4rem 0 3rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
